.lmj-banner {
    color: black;
    padding: 10px;
    border-bottom: solid 3px black;
    display: flex; /* Utilise flexbox pour l'alignement */
    justify-content: flex-end; /* Aligne le contenu à droite */
    align-items: center; /* Aligne verticalement les éléments au centre */
}

.lmj-title {
    padding-left: 16px; /* Espace entre le logo et le titre */
    font-size: 1.5em; /* Taille de la police du titre */
}

.lmj-logo {
    height: 100px; /* Hauteur du logo */
    width: 100px; /* Largeur du logo */
}